@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap");

body, p {
    font-family: 'Inter var', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Antonio', sans-serif;
    font-weight: 600;
}
