@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;

.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.loading-spinner {
  @include loading-spinner(#FFC40C);
}
