@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;
@use "../src/styles/partials/typography" as *;

.home {
  width: 100%;

  &-prompt {
    @include flex-center;
    position: absolute;
    flex-direction: column;
    gap: 2rem;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    h2 {
      color: $jasmine;
      text-align: center;
    }

    input {
      color: $mikado-yellow;
      width: 16rem;
      padding: 0.9375rem;
      background-color: transparent;
      text-align: center;
      border: 0.02rem groove $mikado-yellow;
      border-radius: 0.2rem;
      @include subheader-mobile;
      animation: pulse 2s infinite ease-in-out;
      cursor: pointer;
      transition: transform 0.4s ease, background-color 0.4s ease;

      &:hover,
      &:active {
        animation: none;
        transform: scale(1.2);
        background-color: $light-charcoal;
        border-color: $jordy-blue;
      }

      &:focus {
        animation: none;
        transform: scale(1.2);
        outline: none;
        border-color: $jordy-blue;
        box-shadow: 0 0 0 2px $jordy-blue;
      }
    }
  }

  &-button {
    width: 4rem;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      animation: none;
      transform: scale(0.9);
    }

    &-wrapper {
      display: inline-block;
      position: relative;
    
      &.loading::before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        width: 100%;
        height: 100%;
        border: 3px dashed $mikado-yellow;
        border-radius: 50%;
        animation: rotate 3s linear infinite;
      }
    
      img {
        opacity: 0;
      }
    }
  }
}

// Animations
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  font-size: 0.8rem;
  padding-top: 0.4rem;
}
