@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;
@use "../src/styles/partials/typography" as *;

.home {
  width: 100%;
  &-prompt {
    @include flex-center;
    position: absolute;
    flex-direction: column;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    input {
      width: 80vh;
      padding: .9375rem;
      background-color: transparent;
      color: $jordy-blue;
      text-align: center;
      border: none;
       @include subheader-mobile;
       cursor: pointer;
     }

    button {
      margin-top: .4rem;
      padding: 10px 20px;
      background-color:$vampire-black;
      color: $jordy-blue;
      border: $mikado-yellow;
      border-style: solid;
      border-width: .04rem;;
      font-size: 1rem;
      cursor: pointer;
      border-radius: .1rem;

      &:hover {
        background-color: $jasmine;
        color: $vampire-black;
      }
    }
  }

}