@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;
@use "../src/styles/partials/typography" as *;

.header{
    background-color: $vampire-black;
    padding: 1rem 1rem ;
    img{
        width: 1.5rem;
    }
}