@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;
@use "../src/styles/partials/typography" as *;

.footer {
  cursor: auto;
  background-color:$vampire-black;
  padding: .375rem;
  position: fixed;
  bottom: 0;
  color: $jasmine;
  z-index: 12;
  width: 100%;

  .footer-content {
    @include flex-center;
    gap: 20px;

    .footer-link {
      display: inline-block;
      transition: transform 0.3s, filter 0.3s;


      &:hover {
        transform: scale(1.1); 
        filter: brightness(.5); 
      }
    }

    .footer-icon {
      width: 1rem;
      height: 1rem;
    }

    .footer-location {
      @include labels-buttons-mobile;
      color: $light-charcoal;
      padding-bottom: .6rem;
    }
  }
}
