@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;

.allprojects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.loading{
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  margin-top: 20%;
  &-spinner{
    @include loading-spinner;
  }
}