@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;

.allprojects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.loading-container {
  @include loading-spinner(#FFC40C);
}
