@use './styles/partials/variables' as *;
@use './styles/partials/typography' as *;

body {
    font-family: 'Inter var', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $vampire-black;
    color: $jasmine;
    cursor: url('../src/assets/Icons/PointerIcon\ 1.svg'), auto;
}

h1, h2, h3, h4 {
    font-family: 'Antonio', sans-serif;
}

p {
    color: $jasmine;
    margin: 0;

    &.small {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }

    &.large {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}
